@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Pharmacity<br />
    19 Tân Phong Q7<br />
    <abbr title="Phone">SĐT:</abbr>
    0123456789
</address>

<address>
    <strong>Chủ shop 1:</strong>   <a href="mailto:tralamthanhha222@gmail.com">Trà Lâm Thanh Hà</a><br />
    <strong>Chủ shop 2:</strong> <a href="mailto:tralamtralam12345@gmail.com">Nguyễn Quỳnh Như</a>
</address>